/* app css stylesheet */

body {
  padding-top: 1px;
}

.phones {
  list-style: none;
}

.list_A {
  float: left;
  margin: 0.1em 0.1em 0.1em 1em;
  padding-bottom: 0.1em;
  height: 50px;
  width: 180px;
  list-style: none;
  font-size: 1.2em;
}

.detail_A {
  float: left;
  margin: 0.1em 0.1em 0.1em 1em;
  padding-bottom: 0.1em;
  list-style: none;
  font-size: 1.2em;
}

.detail_B {
  float: left;
  margin: 0.1em 1em 0.1em 2em;
  padding-bottom: 0.1em;
  list-style: none;
  font-size: 1em;
  height: 100%;
}

.detail_C {
  float: left;
  margin: 0.5em 0.5em 0.1em 0.1em;
  padding-bottom: 0.1em;
  list-style: none;
  font-size: 1.2em;
  float:left;
}

.thumb {
  float: left;
  margin: -1em 1em 1em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 100px;
  padding-top: 10px;
}

/** Detail View **/
.phone {
  float: left;
  border: 1px solid black;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: white;
  padding: 1em;
  height: 750px;
  width: 600px;
}

.phone-thumbs {
  
  margin: 0;
  list-style: none;
}

.phone-thumbs li {
  
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
