


<table><tr><td>

<div  ng-repeat="case in datas.cases" >
{{case.case_no}}
  <li class="phone-thumbs" ng-repeat="image in case.images">
    <img ng-src="img/{{image}}" ng-click="setImage('img/'+image)">
  </li><hr />

</div>

</td><td width="300">
<span class="phone">
<img ng-src="{{mainImageUrl}}" width="600" height="800" />
</span>
</td><td width="200">
  <h1>
    <img src="img/{{datas.patients.image}}" class="phone-thumbs">
    <br/>
    {{datas.patients.patient_no}}   {{datas.patients.name}}  
  </h1>

  <div>
    <span>性别：{{datas.patients.sex}}  &nbsp;&nbsp;年龄：{{datas.patients.age}}</span>
    <br><span>联系电话：{{datas.patients.phone_no}}</span>
    <span>备注：{{datas.patients.comment}}</span>
  </div>
  
  <div ng-repeat="case in datas.cases">
    <hr>
    处方编号：{{case.case_no}}<br>
    定病：{{case.dingbing}}<br>
    定性：{{case.dingxing}}<br>
    定症：{{case.dingzheng}}<br>

    <div class="detail_A"><br>药方：<br>
      <span ng-repeat="item in case.recipe" >
        {{item.medicine}}  {{item.count}}  {{item.unit}}  <br>
      </span>
    </div>
  </div>

   

</td></tr></table>









