


<table><tr><td>

<div  ng-repeat="phone_temp in phones" >
{{phone_temp.interview_date}}
<li class="phone-thumbs" ng-repeat="img in phone_temp.case_photoes">
  <img ng-src="{{img}}" ng-click="setImage(img)">
</li><hr style="color:red;" />

</div>



</td><td>
<span class="phone">
<img ng-src="{{mainImageUrl}}" width="500" height="700" />
</span>
</td><td>
<h1>
  <img ng-src="{{phone.patients_photoes[0]}}" class="phone-thumbs">
  <br/>
  {{datas.patients.patient_no}}   {{datas.patients.name}}  
</h1>


<span>  
  <dl>
    <dt>性别：{{datas.patients.sex}}  &nbsp;&nbsp;年龄：{{datas.patients.age}}</dt>
    <dt>联系电话：{{datas.patients.phone_no}}</dt>
    <dt>备注：{{datas.patients.comment}}</dt>
  </dl>

  <dl ng-repeat="case in datas.cases">
    <dt>定病：{{case.dingbing}}</dt>
    <dt>定性：{{case.dingxing}}</dt>
    <dt>定症：{{case.dingzheng}}</dt>
    <div>处方：
    
      <span ng-repeat="item in case.recipe">
        {{item.medicine}}  {{item.count}}  {{item.units}}  {{item.remark}}
      </span>
    </div>


  </dl> 

  

</span>

</td></tr></table>









